.container {
    all: 12;
    background-color: #c0e5d0;
    width: 500px;
    margin: auto;
    border: 3px solid green;
}

nav {
    background-color: rgb(255, 255, 255);
}

li,
.lista-lyrics {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font: italic 19px Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 15px;
    color: black;
}

li:hover {
    background-color: #c0e5d0;
    color: white;
}

a:visited {
    color: black;
}

a.hover,
a:active,
a:focus {
    background-color: rgb(240, 175, 240);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td,
thead {
    padding: 10px;

}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:hover td {
    background-color: #369681;
    color: white;
}

h1 {
    color: #ff2020;
    font: 100px Copperplate Gothic;
}

h2 {
    color: #001aff;
    font: italic 60px Showcard Gothic;
    clear: both;
}

p {
    font: 17px "Maiandra GD", fantasy;
    clear: both;
}

#new-photo {
    width: 490px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 6px ridge rgb(234, 236, 120)
}

.texto {
    width: 70%;
    height: 130px;
    overflow: "Tahoma", sans-serif;
    position: relative;
    top: 10px;
    left: 10px;
    
}

.Libro {
    width: 200px;
    float: left;
    margin-right: 1opx;
    margin-bottom: 10px;
    border: 6px ridge rgb(234, 236, 120)
}

p {
    font: 17px "Maiandra GD", fantasy;
    clear: both;}

.new-photo {
    width: 220px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 6px ridge rgb(234, 236, 120)
}

h4{
    background-color: rgb(232, 232, 232);
    padding: 6px;
    clear: both; }
