body{
    background-color: #c0e5d0; }

nav{
    background-color: rgb(255, 255, 255); }

.lista-lyrics {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font: italic 16px Arial, Helvetica, sans-serif;
            line-height: 1.7em;
            text-align: left; }

li {
    padding: 15px;
    color: black;
}
li:hover{
    background-color: #83c9b6;
    color: white; }

.texto-lyrics {
        font: 17px "Maiandra GD", fantasy;
        clear: both;
    }
.texto {
    width: 500px;
    height: 190px;
    overflow: scroll;
}

h2 {
    color: #001aff;
    font: italic 26px Showcard Gothic;
clear: both;}
h4{
    background-color: rgb(232, 232, 232);
    padding: 6px;
    clear: both; }
#new-photo{
    width: 330px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 6px ridge rgb(234, 236, 120) }
.new-photo {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 6px ridge rgb(234, 236, 120)
}